<!DOCTYPE HTML>
<html>
   <head>
      <title>Axizoun</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/styles.css') }}">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/circle.css') }}">

      <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Source+Sans+Pro:300" rel="stylesheet">
      <script src="{{ url_for('static', filename='js/js/index.js') }}"></script>
      <script>
        $('#employee-modal, #employer-modal').modal('handleUpdate');
      </script>
   </head>

   <body>
      <div class="container-fluid" id="main" style="width: 95%;">
         <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#" id="nameplate">
               <div id="nameplate_box"> AXIZOUN </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
               <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item active">
                     <a class="nav-link" href="#">AXIZOUN</a>
                     </li> -->
                     <!-- flash -->
                  <div class="container-fluid" style="min-height:100%">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </div>
                  <!--//flash-->
               </ul>
               <span class="navbar-text">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link nav-elements" href="{{ url_for('vacancies') }}" style="font-weight: 300; color: black; margin-right: 2em;">Job Vacancies</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link nav-elements" href="#" style="font-weight: 300; color: black;">Team</a>
                     </li>
                  </ul>
               </span>
            </div>
         </nav>
          <div class="row">
             <div class="col-md-12">
               <div class="job-box">
                  <div class="signup-label">
                     <div class="row">
                       <div class="col-md-10">
                         <h1 class="job-header-text">Job Vacancies</h1>
                       </div>
                       <div class="col-md-2">
                           <a href="#" id="setta"><i class="fas fa-cog" id="settings"></i></a>
                       </div>
                     </div>
                  </div>
  <!-- jobs -->
                  <!-- start of job1 -->
            {% for job in jobs %}
                <form action="{{ url_for('project_details') }}" method='POST'>
                  <div class="job-content">
                    <div class="row" style="height: 270px;">
                      <div class="col-md-11">
                        <div class="vac-content">
                            <div class="row">
                              <div class="col-md-5">
                                <div class="company-content">
                                  <h1 class="cname">FreeFlo Technologies</h1>
                                  <h3 class="cplace">Bangalore, Hyderabad</h3>
                                  <h3 class="cdesig">Web Developer</h3>
                                  <h4 class="cskills"><span style="text-decoration: underline;">Skills: </span> &nbsp;&nbsp;C++, Java, Python</h4>
                                </div>
                              </div>
                              <div class="col-md-7">
                                  <div class="row">
                                    <div class="col-md-7">

                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">aug</li>
                                                <li class="middle">20-30</li>
                                                <li class="bottom">start date</li>
                                              </ul>
                                            </div>
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">weeks</li>
                                                <li class="middle">8</li>
                                                <li class="bottom">duration</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">Rs./month</li>
                                                <li class="middle">12-15k</li>
                                                <li class="bottom">stipend</li>
                                              </ul>
                                            </div>
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">may</li>
                                                <li class="middle">12</li>
                                                <li class="bottom">apply date</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="col-md-5">
                                      <ul class="data-list">
                                        <li class="top">skills match</li>
                                        <li class="skills">
                                          <div class="c100 p85">
                                              <span>85%</span>
                                              <div class="slice">
                                                  <div class="bar"></div>
                                                  <div class="fill"></div>
                                              </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="apply-now">
                          <button type="submit" class="btn btn-primary" style="background-color: #0cebeb; font-size: 25px; border: none;"><b>View Job Description</b></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
      {% endfor %}
<!-- end of job1 -->



                </div>
              </div>
          </div>
       </div>
   </body>
</html>
