d>
      <title>Axizoun</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/styles.css') }}">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/circle.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Source+Sans+Pro:300" rel="stylesheet">
      <script src="{{ url_for('static', filename='js/js/index.js') }}"></script>
      <script>
        $('#employee-modal, #employer-modal').modal('handleUpdate');
      </script>
      <style>
      /* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
      </style>
   </head>
   <body>
      <div class="container-fluid" style="width: 95%;">
         <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#" id="nameplate_p">
               <div id="nameplate_box_p"> AXIZOUN </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
               <ul class="navbar-nav mr-auto">
               </ul>
               <span class="navbar-text">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-elements" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: 300; color: black;margin-top: 0.4em;">Jobs
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ url_for('applied_jobs') }}">Applied Jobs</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('vacancies') }}">Vacant Jobs</a>
                          <div class="dropdown-divider"></div>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link nav-elements" href="#" style="font-weight: 300; color: black;margin-top: 0.4em;">Meet us</a>
                     </li>
                     <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle nav-elements" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: 300; color: black;">
                          <img src="/static/img/imgs/profile.jpg" class="profile-img">
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Skills</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('logout') }}">LogOut</a>
                        </div>
                     </li>
                  </ul>
               </span>
            </div>
         </nav>
         {% if profile_submitted =='unset' %}

             <div class="row">
               <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <b><h2> Please Upload your resume to apply for Jobs.</h2></b>
              </div>
               <div class="form-content">
                  <div class="container">
                     <form id="employee-form" action="{{ url_for('resume_uploader') }}" method='POST' enctype="multipart/form-data">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                  <input type="file" name="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  <div class="col-md-6">
                                     <!-- <button type="submit" class="btn btn-primary mybutt">SIGN UP</button> -->
                                     <button type="submit" class="btn btn-primary mybutt">Upload</a>
                                  </div>
                              </div>
                           </div>
                        </div>
                  </form>
                </div>
            </div>

               <h3>Here's a sample resume!</h3>
                <div class="col-md-12">
                  <div class="job-box">
                     <div class="signup-label">
                        <div class="row">
                          <div class="col-md-10">
                            <h1 class="job-header-text">Profile</h1>
                          </div>
                         </div>
                     </div>
                     <div class="job-content">
                       <div class="row" style="height: 270px;">
                         <div class="col-md-6">
                           <div class="company-pic">
                             <img src="/static/img/imgs/profile.jpg" class="company-image">
                           </div>
                         </div>
                         <div class="col-md-6">
                           <div class="employee-data">
                             <h1 class="emp-name">Steve Jobs</h1>
                             <h3 class="emp-email">stevejobs@gmail.com</h3>
                             <h3 class="emp-number">+91-9920024928</h3>
                             <h3 class="emp-addr">Hyderabad, Telengana</h3>
                           </div>
                         </div>
                       </div>
                     </div>

                     <div class="job-content" style="height: auto;">
                       <div class="row" style="height: auto;">
                         <div class="col-md-12">
                           <div class="education">
                             <h1><div class="tick"></div><span class="edu">education</span></h1>
                             <br>
                             <ul class="edus">
                               <li class="edu-type-tit">Bachelor of Engineering (B.E)</li>
                               <li class="edu-type">Computer Science (2016-2020)</li>
                               <li class="edu-type">IIIT Allahabad</li>
                               <li class="edu-type">CGPA:&nbsp;8.88/10.0</li>
                             </ul>
                           </div>
                           <br>
                         </div>
                       </div>
                     </div>

                     <div class="job-content" style="height: auto;">
                       <div class="row" style="height: auto;">
                         <div class="col-md-12">
                           <div class="education">
                             <h1><div class="tick"></div><span class="edu">Jobs</span></h1>
                             <br>
                             <ul class="edus">
                               <li class="edu-type-tit">Bachelor of Engineering (B.E)</li>
                               <li class="edu-type">Computer Science (2016-2020)</li>
                               <li class="edu-type">IIIT Allahabad</li>
                               <li class="edu-type">CGPA:&nbsp;8.88/10.0</li>
                             </ul>
                           </div>
                           <br>
                         </div>

                       </div>


                     </div>

                     <div class="job-content" style="height: auto;">
                       <div class="row" style="height: auto;">
                         <div class="col-md-12">
                           <div class="education">
                             <h1><div class="tick"></div><span class="edu">skills</span></h1>
                             <br>
                             <div class="container" style="margin-top: 3.5%;">
                               <div class="row" class="skill-section">
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                               </div>
                             </div>
                             <div class="container" style="margin-top: 3.5%;">
                               <div class="row" class="skill-section">
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                               </div>
                             </div>
                             <div class="container" style="margin-top: 3.5%;">
                               <div class="row" class="skill-section">
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                                 <div class="col-md-4">
                                   <h1 class="skill-name">Adobe Photoshop</h1>
                                   <h4 class="skill-level">Advanced</h4>
                                 </div>
                               </div>
                             </div>
                           </div>
                           <br>
                         </div>
                       </div>
                     </div>



                   </div>
                 </div>
             </div>

          {% else %}
          <form action="{{ url_for('update') }}" method='POST'>
              <div class="row">
                 <div class="col-md-12">
                   <div class="job-box">
                      <div class="signup-label">
                         <div class="row">
                           <div class="col-md-10">
                             <h1 class="job-header-text">Profile</h1>
                           </div>
                         </div>
                      </div>
                      <div class="job-content">
                        <div class="row" style="height: 270px;">
                          <div class="col-md-6">
                            <div class="company-pic">
                              <img src="/static/img/imgs/profile.jpg" class="company-image">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="employee-data">
                              <h1 class="emp-name">{{ employee.first_name }} {{ employee.last_name }}</h1>
                              <h3 class="emp-email">{{ employee_email }}</h3>
                              <h3 class="emp-number"><input type="text" name="phone" placeholder="Phone" value="{{ employee.phone }}"></h3>
                              <h3 class="emp-addr"><input type="text" name="location" placeholder="State & Country" value="{{ employee.location }}"></h3>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="job-content" style="height: auto;">
                        <div class="row" style="height: auto;">
                          <div class="col-md-12">
                            <div class="education">
                              <h1><div class="tick"></div><span class="edu">Education</span></h1>
                              <br>
                              <ul class="edus">
                                <li class="edu-type-tit"><input type="text" name="degree" placeholder="Degree Type" value="{{ employee.degree }}"></li>
                                <li class="edu-type"><input type="text" name="area" placeholder="Area of Study" value="{{ employee.area }}"></li>
                                <li class="edu-type"><input type="text" name="institution" placeholder="Institution" value="{{ employee.institution }}"></li>
                              </ul>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>
                      <div class="job-content" style="height: auto;">
                        <div class="row" style="height: auto;">
                          <div class="col-md-12">
                            <div class="education">
                              <h1><div class="tick"></div><span class="edu">Skills</span></h1>
                              <br>
                              <div class="container" style="margin-top: 3.5%;">
                                <div class="row" class="skill-section">
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-1" value="{{ employee.skill1 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-1"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-2" value="{{ employee.skill2 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-2"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-3" value="{{ employee.skill3 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-3"></h4>
                                  </div>
                                </div>
                              </div>
                              <div class="container" style="margin-top: 3.5%;">
                                <div class="row" class="skill-section">
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-4" value="{{ employee.skill4 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-4"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-5" value="{{ employee.skill5 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-5"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-6" value="{{ employee.skill6 }}" placeholder="skill"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-6"></h4>
                                  </div>
                                </div>
                              </div>
                              <div class="container" style="margin-top: 3.5%;">
                                <div class="row" class="skill-section">
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-7" value="{{ employee.skill7 }}"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-7"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-8" value="{{ employee.skill8 }}"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-8"></h4>
                                  </div>
                                  <div class="col-md-4">
                                    <h1 class="skill-name"><input type="text" name="skill-9" value="{{ employee.skill9 }}"></h1>
                                    <h4 class="skill-level"><input type="text" name="level-9"></h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <br>
                          </div>
                        </div>
                      </div>



                    </div>
                  </div>
              </div>
              <input type=submit>
            </form>
          {% endif %}

       </div>
   </body>
</html>
