<html>
   <head>
      <title>Axizoun</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/styles.css') }}">
      <link rel="stylesheet"href="{{ url_for('static', filename='css/css/circle.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Source+Sans+Pro:300" rel="stylesheet">
      <script src="{{ url_for('static', filename='js/js/index.js') }}"></script>
      <script>
        $('#employee-modal, #employer-modal').modal('handleUpdate');
      </script>
   </head>
   <body>
      <div class="container-fluid" style="width: 95%;">
         <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#" id="nameplate_p">
               <div id="nameplate_box_p"> AXIZOUN </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
              </ul>
               <span class="navbar-text">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link nav-elements" href="#" style="font-weight: 300; color: black; margin-right: 2em;margin-top: 0.4em;">Jobs</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link nav-elements" href="#" style="font-weight: 300; color: black;margin-top: 0.4em;">Team</a>
                     </li>
                     <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle nav-elements" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: 300; color: black;">
                          <img src="/static/img/imgs/profile.jpg" class="profile-img">
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ url_for('employee_dashboard')}}">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('vacancies') }}">Vacant Jobs</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('applied_jobs') }}">Applied Jobs</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                        </div>
                     </li>
                  </ul>
               </span>
            </div>
         </nav>
         <!-- modals -->
         <!-- Modal for apply  -->
      <form action="{{ url_for('test_portal',job_id=session['job_id'],employee_id=session['employee_id']) }}">
        <div class="modal fade"  id="apply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content"  id="modall">
               <div class="modal-header">
                 <h5 class="modal-title" id="setting-title">APPLY</h5>
               </div>
               <div class="modal-body">
                 <div class="apply-modal-description">
                    <div class="row">
                       <div class="col-lg-1 col-md-1"></div>
                       <div class="col-lg-10 col-md-10">
                         <div class="row">
                           <p style="font-size: 20px;">By clicking on begin test, the test will begin. You are expected to complete the test within the given time and upload the test documents which are asked.</p>
                         </div>
                         <br>
                         <div class="row">
                           <div class="col-lg-4 col-md-4">
                             <span style="font-weight: bold; font-size: 15px;">MINUTES</span><br/>
                             <span style="font-weight: bold; font-size: 25px;">60</span><br/>
                             <span>Total Time</span>
                           </div>
                           <div class="col-lg-4 col-md-4">
                             <span style="font-weight: bold; font-size: 15px;">QUESTIONS</span><br/>
                             <span style="font-weight: bold; font-size: 25px;">3</span><br/>
                             <span>Total Time</span>
                           </div>
                           <div class="col-lg-4 col-md-4">
                             <span style="font-weight: bold; font-size: 15px;">JPEG, PNG, PSD, AI</span><br/>
                             <span>Format of submission</span><br/>
                           </div>
                         </div>
                       </div>
                       <div class="col-lg-1 col-md-1"></div>
                    </div>
                    <br/>
                    <center>
                     <button type="submit" class="btn btn-primary" id="ok-btn">Begin Test</button>
                    </center>
                    <hr>

                    <div class="apply-modal-instructions">
                     <p style="font-weight: bold; font-size: 20px;">INSTRUCTIONS</p>
                     <ol>
                       <li>You'll be given a time to do this. DO this in 10 minues. Asap can be done</li>
                       <li>Bla do this bla</li>
                     </ol>
                    </div>
                 </div>
               </div>
               <div class="modal-footer">
               </div>
             </div>
           </div>
         </div>
       </form>


         <!-- //modals -->
          <div class="row">
             <div class="col-md-12">
               <div class="job-box">
                  <div class="signup-label">
                     <div class="row">
                       <div class="col-md-10">
                         <h1 class="job-header-text">Project Details</h1>
                       </div>
                       <div class="col-md-2">
                       </div>
                     </div>
                  </div>
                  <div class="job-content">
                    <div class="row" style="height: 270px;">
                      <div class="col-md-12">
                        <div class="vac-content">
                            <div class="row">
                              <div class="col-md-5">
                                <div class="company-content">
                                  <h1 class="cname">{{ job['company_name'] }}</h1>
                                  <h3 class="cplace">{{ job['location'] }}</h3>
                                  <h3 class="cdesig">{{ job['position'] }}</h3>
                                  <h4 class="cskills"><span style="text-decoration: underline;">Skills: </span> &nbsp;&nbsp;{{ job['skill_1'] }},{{ job['skill_2'] }},{{ job['skill_3'] }},{{ job['skill_4'] }},{{ job['skill_5'] }}</h4>
                                </div>
                              </div>
                              <div class="col-md-7">
                                  <div class="row">
                                    <div class="col-md-7">

                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">Approx</li>
                                                <li class="middle">{{ job['start_date'] }}</li>
                                                <li class="bottom">start date</li>
                                              </ul>
                                            </div>
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">weeks</li>
                                                <li class="middle">{{ job['duration'] }}</li>
                                                <li class="bottom">duration</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">$./hour</li>
                                                <li class="middle">{{ job['stipend'] }}</li>
                                                <li class="bottom">stipend</li>
                                              </ul>
                                            </div>
                                            <div class="col-md-6">
                                              <ul class="data-list">
                                                <li class="top">Approx</li>
                                                <li class="middle">{{ job['apply_date'] }}</li>
                                                <li class="bottom">apply date</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                    <div class="col-md-5">
                                      <ul class="data-list">
                                        <li class="top">skills match</li>
                                        <li class="skills">
                                          <div class="c100 p85">
                                              <span>{{ percentage_match }}%</span>
                                              <div class="slice">
                                                  <div class="bar"></div>
                                                  <div class="fill"></div>
                                              </div>
                                          </div>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="job-content">
                    <div class="row" style="height: 270px;">
                      <div class="col-md-12">
                        <div style="padding: 20px;">
                          <div class="about-company">
                            <h1 class="cname">About The Company</h1>
                          </div>
                          <div class="about-content">
                            <div class="company-url">
                              {{ job['company_name'] }}
                            </div>
                            {{ about_company }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="job-content">
                    <div class="row" style="height: 270px;">
                      <div class="col-md-12">
                        <div style="padding: 20px;">
                          <div class="about-internship">
                            <h1 class="cname">About The Internship</h1>
                          </div>
                          <div class="about-content">

                            {{ job['description'] }}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="job-content">
                    <div class="row" style="height: 270px;">
                      <div class="col-md-12">
                        <div style="padding: 10px;">
                          <div class="about-skills">
                            <h1 class="cname">Skills</h1>
                          </div>
                          <div class="about-content">
                            <div class="about-skill-header">
                              Skills Required
                            </div>
                            {{ job['skill_1'] }},{{ job['skill_2'] }},{{ job['skill_3'] }},{{ job['skill_4'] }},{{ job['skill_5'] }} <br/><br/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div style="text-align: center; padding: 25px;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apply" style="background-color: #0cebeb; font-size: 25px; border: none; width: 160px; height: 50px; border-radius: 10px;"><b>Apply Now</b></button>
                  </div>
                  <b>Job ID: </b><h5>{{ job_id }}</h5><br><br>

                </div>
              </div>
          </div>
       </div>
   </body>
</html>
