@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans|Source+Sans+Pro:300');
html {
   height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
#main {
  background-image: url(../imgs/bg.png);
  background-position: -25px -35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color;
  height: 100%;
  position: absolute;
}

#nameplate {
  padding: 8px;
  color: white;
  /* text-decoration: underline; */
  font-weight: 500;
  font-size: 35px;
  margin-left: 1.7em;
  letter-spacing: 1px;
  padding-top: 2px;
}

#nameplate_box {
  /* padding: 0.5px; */
  border-bottom: 2px solid white;
}

#nameplate_p {
  padding: 8px;
  color: #0cebeb;
  /* text-decoration: underline; */
  font-weight: 500;
  font-size: 35px;
  margin-left: 1.7em;
  letter-spacing: 1px;
  padding-top: 2px;
}

#nameplate_box_p {
  /* padding: 0.5px; */
  border-bottom: 2px solid #29ffc6;
}

.nav-elements {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-right: 1em;
}

.life {
  color: #0cebeb;
  text-decoration: underline;
}

.signup-form-box {
  position: absolute;
}

.signup-label {
  height: 80px;
  width: 100%;
  text-align: center;
  background: linear-gradient(-45deg, #0cebeb, #29ffc6);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.form-header-text {
  color: white;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1.3px;
  padding-top: 0.4em;
}

.form-box {
  width: 90%;
  height: auto;
  position: absolute;
  background-color: white;
  margin-left: 18%;
  margin-top: 7%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
}

.job-header-text {
  color: white;
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 1.3px;
  padding-top: 0.4em;
  margin-left: 17%;
}

.job-box {
  width: 90%;
  height: auto;
  position: absolute;
  background-color: white;
  margin-left: 5%;
  margin-top: 7%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
  box-shadow: 0px 17px 95px 1px rgba(0,0,0,0.35);
}

.option-selector {
  border-radius: 40px;
  border: 1.5px solid #0cebeb;
  width: 83%;
  height: 60px;
  margin: 0 auto;
  margin-top: 1.3em;
}

.left-option {
  text-align: center;
  padding-top: 0.3em;
  border-right: 1.5px solid #0cebeb;
  height: 60px;
  /* border-top-left-radius: 40px;
  border-bottom-left-radius: 40px; */
}

.right-option {
  text-align: center;
  padding-top: 0.4em;
  height: 60px;
  bor
}

.left-option h3 {
  font-weight: 300;
  color: black;
  padding-top: 0.3em;
}

.left-option:hover, .right-option:hover {
  cursor: pointer;
  /* background-color: black; */
}

.right-option h3 {
  font-weight: 300;
  color: black;
  padding-top: 0.25em;
  margin-left: -0.5em;
}

.form-content {
  width: 84%;
  margin: 0 auto;
  margin-top: 8%;
}

.form-control {
  border: 0;
  border-bottom: 1px solid black;
  height: 47px;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.mybutt {
  border-radius: 40px;
  margin-top: 0.7em;
  height: 45px;
  width: 170px;
  background: linear-gradient(-45deg, #0cebeb, #29ffc6);
  border: 0px;
  text-decoration: none;
  font-size: 18px;
}

.boo-ul {
  width: 100%;
  list-style: none;
  display: inline;
  padding-top: 1em;
  position: absolute;
  padding-left: -2em;
}

.boo-li-text {
  font-size: 13px;
  display: inline-block;
  padding-right: 0.2em;
}

.boo-li-icon {
  display: inline-block;
  padding-left: 0.2em;
  font-size: 30px;
}


.already-login {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  width: 100%;
  padding-top: 1em;
}

.login-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #0cebeb;
  font-size: 15px;
  font-weight: 300;
}

.profile-img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.dropdown-menu {
  border-radius: 25px;
}

.dropdown-item {
  height: 25px;
}

.dropdown-divder {
  width: 85%;
}

#setta {
  text-decoration: none;
  color: white;
  transition: transform 1s;
}

#settings:hover {
  transform: rotate(45deg);
  cursor: pointer;
}

#settings {
  float: right;
  position: absolute;
  font-size: 45px;
  color: white;
  margin-top: 15px
}

.job-content {
  width: 100%;
  border-bottom: 1px solid #29ffc6;
}

.apply-now {
  background: linear-gradient(-45deg, #0cebeb, #29ffc6);
  border-bottom-right-radius: 20px;
}

.apply-text {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-right: -2.5em;
  padding-left: 4em;
  transform: rotate(90deg);
  letter-spacing: 6px;
  padding-top: 1em;
  font-weight: 300;
  text-align: center;
}

.company-content {
  padding: 20px;
  border-right: 1px solid #0cebeb;
  height: 100%;
}

.cname {
  font-weight: bold;
}

.cplace, .cdesig {
  font-weight: 300;
  padding-top: 20px;
}

.cskills {
  font-weight: 300;
  padding-top: 20px;
  font-size: 20px;
}

.data-list {
  list-style: none;
  text-align: center;
  margin-top: 1.5em;
}

.top {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.middle {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.bottom {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.skills {
  margin: 0 auto;
  margin-top: 2em;
  margin-left: 3em;
}

div.about-content, div.about-internship, div.about-skills {
  font-size: 20px;
}

div.company-url, div.about-skill-header {
  font-size: 22px;
  font-weight: 700;
}

.company-pic {
  float: right;
  width: 200px;
  height: 200px;
  /* border: 2px solid black; */
  border-radius: 50%;
  margin-top: 6%;
  margin-right: 8%;
}

.company-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.employee-data {
  text-align: left;
  margin-top: 4%;
}

.emp-name {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 1px;
}

.emp-email {
  font-size: 24px;
  font-weight: 350;
  letter-spacing: 1px;
}

.emp-number {
  font-size: 22px;
  font-weight: 350;
  letter-spacing: 1px;
}

.emp-addr {
  font-size: 22px;
  font-weight: 350;
  letter-spacing: 1px;
}

.education {
  margin-top: 2%;
}

.tick {
  background-color: black;
  color: black;
  width: 20px;
  height: 5px;
  position: absolute;
  margin-top: 1.3%;
}

.edu {
  color: black;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 700;
  position: absolute;
  margin-left: 3%;
  /* margin-top: -3%; */
}

.edus {
  margin-left: 3%;
  margin-top: 3%;
  position: relative;
}

.edu-type-tit {
  font-weight: 700;
  font-size: 31px;
  list-style: none;
}

.edu-type {
  list-style: none;
  font-size: 22px;
}

.skill-section {
  text-align: center;
  margin-left: 3%;
  margin-top: 4%;
  position: absolute;
}

.skill-name {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.skill-type {
  font-size: 20px;
  font-weight: 350;
  letter-spacing: 0.5px;
}

.company-name {
  margin-top: 3.5%;
  font-size: 30px;
  font-weight: 350;
  text-align: left;
  margin-left: 6%;
}

.company-desp {
  margin-top: 3.5%;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  margin-left: 6%;
}

.job-comp-desp {
  color: black;
  font-size: 27px;
  font-weight: 700;
  margin-left: 3%;
  margin-top: 2%;
}

.job-comp-city {
  color: black;
  font-size: 22px;
  font-weight: 350;
  margin-left: 3%;
}

.job-comp-date {
  color: black;
  font-size: 22px;
  font-weight: 350;
  margin-left: 3%;
}

.jobs {
  border: 0;
  transition: border 1s;
  margin-top: 4%;
  height: 140px;
}

.jobs:hover {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.jobs-top {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 16%;
}

.jobs-middle {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.jobs-apply {

}

.ar-right {
  color: black;
  text-align: right;
  /* margin: 0 auto; */
  margin-top: 35px;
  margin-left: 50px;
  /* padding-top: 10%; */
  font-size: 70px;
  transition: margin-left 1.5s;
}

.ar-right:hover {
  color: black;
  text-align: right;
  /* margin: 0 auto; */
  margin-top: 35px;
  margin-left: 70px;
  /* padding-top: 10%; */
  font-size: 70px;
}

.applicant-profile-img {
  height: 150px;
  width: 150px;
  border: 1px solid #29ffc6;
  border-radius: 50%;
}

.call-text {
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 0.5em;
  padding-right: -2.5em;
  padding-left: 0.5em;
  transform: rotate(90deg);
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
}

.post-job-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  margin-top: 1.5%;
}
 .post-job-place {
  text-align: left;
  font-size: 30px;
  font-weight: 350;
  letter-spacing: 1px;
  margin-top: 12%;
  margin-left: 8%;
}
 .post-job-postname {
  text-align: left;
  font-size: 30px;
  font-weight: 350;
  letter-spacing: 1px;
  margin-left: 8%;
}
 .job-post-skills {
  margin-left: 10em;
  margin-top: 1em;
}
 .inp-per {
  border: 0;
  width: 40px;
  height: 40px;
  color: black;
  font-size: 38px;
  background: transparent;
  border-bottom: 1px solid black;
}
 .inp-skill-percent {
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-right: 80px;
}
 .skills-list {
  list-style: none;
}
 .each-skill {
  display: inline-block;
}
 .skill-bar {
  border-radius: 10px;
  border: 1px solid black;
  width: 90px;
  padding: 5px;
  text-align: center;
}
 .prob-set-title {
  text-transform: uppercase;
  font-size: 26px;
  color: black;
}
 .q-title {
  color: black;
  font-size: 22px;
  margin-left: 3%;
}
 .q-time, .q-format {
  color: black;
  font-size: 22px;
  font-weight: 300;
  margin-left: 6%;
}

.modal-header {
  text-align: center;
}
 .option-selector-settings {
  border-radius: 20px;
  border: 1.5px solid #000;
  width: 95%;
  height: 60px;
  margin: 0 auto;
  /* margin-top: 1em; */
}
 .left-option-sort {
  text-align: center;
  padding-top: 0.6em;
  border-right: 1.5px solid #000;
  height: 60px;
}
 .right-option-filter {
  text-align: center;
  padding-top: 0.7em;
  height: 60px;
}
 #setting-title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
}
 #ok-btn {
  border-radius: 12px;
  width: 180px;
  margin: 0 auto;
  height: 48px;
  font-size: 24px;
  line-height: 40px;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding-bottom: 0.3em;
}
 #modall {
  border-radius: 20px;
}
 .sort-list,.filter-list {
  margin-top: 2em;
  margin-left: -1em;
  max-height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}
 .sort-type {
  list-style: none;
}
 .sort-type-list {
  height: 65px;
  font-size: 20px;
  font-weight: 300;
  line-height: 65px;
  border-bottom: 0.5px solid black;
}
 .sort-list::-webkit-scrollbar {
    width: 0.6em;
    border-radius: 5px;
 }
 .sort-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}
 .sort-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey;
}
 .filter-list::-webkit-scrollbar {
    width: 0.6em;
    border-radius: 5px;
 }
 .filter-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
}
 .filter-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey;
}
 #sort:hover, #filter:hover {
  cursor: pointer;
}
